.MovieDetailsContainer {
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
  padding: 50px 0px;
}

.MovieDetailsImage {
  display: flex;
  flex: 1 0 30%;
  justify-content: center;

  & img {
    width: 350px;
  }
}

.MovieDetailsDescription {
  flex: 1 0 70%;
}

.MovieDetailsTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.MovieDetailsSubTitle {
  font-weight: 700;
  padding: 20px 0px 10px 0px;
}

.MovieDetailsUserScore {
}

.goBack {
  margin: 5px 0px 0px 5px;
}

.MovieDetailsInfo {
  padding-left: 30px;
  border-bottom: 1px solid black;
}

.MovieDetailsSubInfo {
  font-size: 18px;
  font-weight: 700;
}

.MovieDetailsTextInfo {
  display: flex;
  flex-direction: column;

  & a {
    padding-top: 5px;

    &:hover {
      color: rgb(24, 219, 76);
    }
  }
}
